::selection {
  background-color: #B5FD55;
}

::-moz-selection {
  background-color: #B5FD55;
}

.root-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

#root h1 {
  font-size: 64px;
  line-height: 64px;
}

#root h2 {
  font-size: 48px;
  line-height: 52px;
}

#root h3 {
  font-size: 36px;
  line-height: 40px;
}

#root h4 {
  font-size: 24px;
  line-height: 26px;
}

#root h5 {
  font-size: 18px;
  line-height: 20px;
}

.root-grid a {
  color: #02c5e6;
}

.custom-date-picker .react-datepicker{
  font-family: "DM Mono";
  background-color: #EDE9DD;
  border: none;
}

.custom-date-picker .react-datepicker .react-datepicker__header{
  background-color: #EDE9DD;
  border: none;
}

.custom-date-picker .react-datepicker .react-datepicker__day--keyboard-selected {
  background-color: #EDE9DD;
  border: 2px solid black;
  color: black;
  box-sizing: content-box;
}

.custom-date-picker .react-datepicker .react-datepicker__day--selected {
  background-color: #6ABD00;
}

.__react_component_tooltip {
  opacity: 1 !important;
}