::selection {
  background-color: #b5fd55;
}

::-moz-selection {
  background-color: #b5fd55;
}

.root-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

#root {
  overflow-x: hidden;
}

#root h1 {
  font-size: 64px;
  line-height: 64px;
}

#root h2 {
  font-size: 48px;
  line-height: 52px;
}

#root h3 {
  font-size: 36px;
  line-height: 40px;
}

#root h4 {
  font-size: 24px;
  line-height: 26px;
}

#root h5 {
  font-size: 18px;
  line-height: 20px;
}

.root-grid a {
  color: #02c5e6;
}

.custom-date-picker .react-datepicker {
  font-family: "DM Sans";
  background-color: #ede9dd;
  border: none;
}

.custom-date-picker .react-datepicker .react-datepicker__header {
  background-color: #ede9dd;
  border: none;
}

.custom-date-picker
  .react-datepicker
  .react-datepicker__day--keyboard-selected {
  background-color: #ede9dd;
  border: 2px solid black;
  color: black;
  box-sizing: content-box;
}

.custom-date-picker .react-datepicker .react-datepicker__day--selected {
  background-color: #6abd00;
}

.__react_component_tooltip {
  opacity: 1 !important;
}

.overflow-hidden {
  overflow: hidden;
}

:root {
  --onboard-connect-sidebar-background: #d1cdbf;
  --onboard-main-scroll-container-background: #ede9dd;
  --onboard-connect-header-background: #ede9dd;
  --onboard-connect-sidebar-progress-color: #02c5e6;
  --onboard-connect-sidebar-progress-background: black;
  --onboard-wallet-button-background: white;
  --onboard-wallet-button-background-hover: #f5f5f5;
  --onboard-wallet-button-border-color: black;
  --onboard-wallet-button-color: black;
  --onboard-wallet-app-icon-border-color: black;
  --onboard-font-family-normal: "DM Mono";
}
