[submodule "packages/contracts/lib/prb-math"]
	path = packages/contracts/lib/prb-math
	url = https://github.com/paulrberg/prb-math
[submodule "packages/contracts/lib/core"]
	path = packages/contracts/lib/core
	url = https://github.com/RageTrade/core
[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/contracts/lib/chainlink"]
	path = packages/contracts/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "packages/contracts/lib/v3-core"]
	path = packages/contracts/lib/v3-core
	url = https://github.com/Uniswap/v3-core
	branch = 0.8
[submodule "packages/contracts/lib/v3-periphery"]
	path = packages/contracts/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
